.footer-container {
  background-color: rgb(22, 101, 52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: relative;
  margin-top: 10rem;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.footer-container p {
  margin: 10px 0;
  font-size: 18px;
}

.footer-container a {
  justify-content: center;
}

.github-img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  transition: transform 0.2s;
}

.github-img:hover {
  transform: scale(1.2);
}
