.popupContainer {
  position: fixed;
  bottom: 55%;
  left: 25%;
  right: 25%;
  margin: 1rem;
  padding: 5rem;
  background-color: white;
  border: 3px solid #065f46;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.closePopup {
  width: 10rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: #ff7043;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.Popup {
  p {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}
