.recipes-page {
  text-transform: uppercase;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.search-input {
  border-radius: 0.75rem;
  height: 2.75rem;
  width: 26vw;
  background-color: #f5f5f5;
  border: 1px solid #a3a3a3;
  text-align: left;
  padding-left: 1rem;
}

.card-recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background-color: #065f46;
  width: 20vw;
  height: 45vh;
  margin: 3rem;
  border-radius: 0.75rem;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-slider-recipies {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  width: 15vw;
}

.card-recipes > h2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: white;
}

.time-category-recepies > div > h3 {
  font-weight: bold;
  color: white;
}

.time-category-recepies {
  display: flex;
  gap: 3rem;
}

.time-category-recepies > div > img {
  width: 2vw;
  height: 2hw;
}

.category-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
